<!DOCTYPE html>
<html lang="pt-BR">
    <body>
        <div class="flex rounded-lg shadow-lg border-2 border-gray-300 m-6 py-4">

            <div name="database" class="flex flex-col mb-8 w-full">
                <div class="flex justify-between">
                    <strong class="text-blue-900 text-[1.8rem] ml-4">Database Config.</strong>

                    <button phx-click="cancel" class="flex justify-end mr-4">
                        <img src="/images/close.png" class="h-12 w-auto">
                    </button>
                </div>

                <div name="change_key" class="mt-10 ml-8">
                    <h1 class="text-xl font-bold text-gray-800">Change the Database key.</h1>
                    <p class="text-sm text-gray-500 break-words mb-2">It changes the database access key, which will be used to encrypt your files. This action is permanent and cannot be reversed. Your key will be verified before the action.</p>

                    <button class="text-red-600 bg-transparent border border-red-600 px-2 py-1 rounded-lg text-[1rem] mb-4">
                        Change
                    </button>
                </div>

                <div name="drop_data" class="mt-8 ml-8">
                    <h1 class="text-xl font-bold text-gray-800">Drop the Database</h1>
                    <p class="text-sm text-gray-500 break-words mb-2">It completely deletes your inserted files. This action is permanent and cannot be reversed. Your key will be verified before the action.</p>

                    <button class="text-red-600 bg-transparent border border-red-600 px-2 py-1 rounded-lg text-[1rem] mb-4">
                        Drop
                    </button>
                </div>

            </div>

        </div>
    </body>
</html>

