<!DOCTYPE html>
<html lang="pt-BR">
    <body>
        <div class="flex w-full h-auto justify-between">
            <input/>
            <div class="flex py-2 px-8 gap-1">
                <button class="">
                    <img src="/images/folder.png" class="w-auto h-8"/>
                </button>

                <button phx-click="create_file">
                    <img src="/images/create.png" class="w-auto h-8"/>
                </button>
            </div>
        </div>

        <div class="grid md:grid-cols-3 grid-cols-1 gap-4 px-4 py-2 border rounded shadow m-2">
            <%= for item <- @datas do %>

                <%= if Map.get(item, :ext) do %>
                    <div class="border rounded-xl shadow-md p-4 bg-white grid grid-rows-[1fr_auto] h-40">
                        <span class="overflow-hidden break-all self-center text-center font-semibold mb-2">
                            <%= item.name <> item.ext %>
                        </span>

                        <div class="flex justify-between">
                            <div class="flex justify-center gap-2 mt-2">
                                <button phx-click="show" phx-value-id={item.id} class="text-blue-600 hover:underline">Show</button>
                                <button phx-click="editor" phx-value-id={item.id} class="text-yellow-600 hover:underline">Edit</button>
                                <button phx-click="ask_delete" phx-value-id={item.id} phx-value-name={item.name} class="text-red-600 hover:underline">Delete</button>
                            </div>

                            <img src={"/images/#{MaxGallery.Extension.get_ext(item.ext)}.png"} class="w-auto h-6 mt-2">
                        </div>
                    </div>

                <% else %>
                    <div class="border rounded-xl shadow-md p-4 bg-white grid grid-rows-[1fr_auto] h-40">
                        <span class="overflow-hidden break-all self-center text-center font-semibold mb-2">
                            <%= item.name %>
                        </span>

                        <div class="flex justify-between">
                            <div class="flex justify-between gap-2 mt-2">
                                <button phx-click="" phx-value-id={item.id} class="text-green-600 hover:underline">Open</button>
                                <button phx-click="ask_rename" phx-value-id={item.id} phx-value-name={item.name} class="text-orange-600 hover:underline">Rename</button>
                                <button phx-click="ask_remove" phx-value-id={item.id} phx-value-name={item.name} class="text-red-800 hover:underline">Remove</button>
                            </div>

                            <img src="/images/group.png" class="w-auto h-7 mt-2"/>
                        </div>

                    </div>
                <% end %>

            <% end %>
        </div>


        <%= if @delete_iframe do %>
            <div class="fixed inset-0  dark:bg-black dark:bg-opacity-50 flex items-center justify-center z-50">
                <div class="bg-white p-6 rounded shadow-lg">
                    <p>Are you sure you want to delete: </p>
                    <strong class="block text-center">"{@name_data}" ?</strong>

                    <div class="flex justify-end mt-[3.5rem] gap-3">
                        <button phx-click="cancel_delete" class="bg-orange-600 text-white px-2 py-1 w-[3rem] rounded">No</button>
                        <button phx-click="confirm_delete" phx-value-id={@delete_iframe} class="bg-transparent border border-orange-600 w-[3rem] text-orange-600 rounded px-2 py-1">Yes</button>
                    </div>
                </div>
            </div>
        <% end %>


        <%= if @rename_iframe do %>
            <div class="fixed inset-0  dark:bg-black dark:bg-opacity-50 flex items-center justify-center z-50">
                <div class="bg-white p-6 rounded shadow-lg">
                    <div class="flex justify-between items-center mb-8">
                        <p>Enter new group name: </p>
                        <button phx-click="cancel_rename">
                            <img src="/images/close.png" class="w-auto h-8" />
                        </button>
                    </div>

                    <form phx-submit="confirm_rename" phx-value-id={@rename_iframe} class="flex gap-2">
                        <input name="new_name" class="p-2 rounded border border-gray-600" placeholder={@name_group} />
                        <button type="submit" class="rounded-lg shadow-md bg-orange-600 text-white py-2 px-4">Send</button>
                    </form>
                </div>
            </div>
        <% end %>

        <%= if @remove_iframe do %>
            <div class="fixed inset-0  dark:bg-black dark:bg-opacity-50 flex items-center justify-center z-50">
                <div class="bg-white p-6 rounded shadow-lg">
                    <p>Are you sure you want to remove: </p>
                    <strong class="block text-center">"{@name_group}" ?</strong>

                    <div class="flex justify-end mt-[3.5rem] gap-3">
                        <button phx-click="cancel_remove" class="bg-orange-600 text-white px-2 py-1 w-[3rem] rounded">No</button>
                        <button phx-click="confirm_remove" phx-value-id={@remove_iframe} class="bg-transparent border border-orange-600 w-[3rem] text-orange-600 rounded px-2 py-1">Yes</button>
                    </div>
                </div>
            </div>
        <% end %>

    </body>
</html>
