<!DOCTYPE html>
<html lang="pt-BR">
    <body>
        <div class="flex rounded-lg shadow-lg border-2 border-gray-300 m-6 py-4">

            <div name="database" class="mb-8">
                <strong class="text-blue-900 text-[1.8rem] ml-4">Database Config.</strong>

                <div name="acess_key" class="mt-10 ml-8">
                    <h1 class="text-xl font-bold text-gray-800">Change database key.</h1>
                    <p class="text-sm text-gray-500 break-words mb-2">It changes the database access key, which will be used to encrypt your files. This action is permanent and cannot be reversed. Your key will be verified before the action.</p>

                    <button class="text-red-600 bg-transparent border border-red-600 px-2 py-1 rounded-lg text-[1rem] mb-4">
                        Change
                    </button>
                </div>
            </div>

        </div>
    </body>
</html>
