<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="flex justify-center items-center h-[70vh]">
      <div class="bg-white p-8 rounded-xl shadow-lg m-auto w-[40%]">
        <h1 class="text-2xl font-bold mb-6 text-center text-gray-800">
          Forgot my Password.
        </h1>

        <.form for={%{}} method="post" action="/request/email-forget">
          <label class="block mb-4">
            <span class="text-gray-700">Your e-mail</span>
            <input
              name="email"
              type="email"
              placeholder="john@smith.com"
              class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-md border-1 focus:border-blue-600"
              required
            />
          </label>

          <button
            type="submit"
            class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-md transition-colors"
          >
            Send me the recuperation link.
          </button>

          <%= cond do %>
            <% @send -> %>
              <p class="text-sm text-green-600 mt-2 text-center">
                {@txt}
              </p>
            <% @txt -> %>
              <p class="text-sm text-yellow-600 mt-2 text-center">
                You can resend the email in (seconds):
              </p>
              <p class="text-sm text-yellow-800 text-center" id="counter">
                {@txt}
              </p>

              <script>
                const counter = document.getElementById("counter");
                let time = parseInt(counter.textContent); 

                const interval = setInterval(() => {
                  time--;
                  counter.textContent = time; 

                  if (time <= 0) {
                    clearInterval(interval);
                    counter.textContent = "Now, you can resend the email.";
                  }
                }, 1000);
              </script>
            <% true -> %>
              {nil}
          <% end %>
        </.form>
      </div>
    </div>
  </body>
</html>
