<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="flex justify-center items-center h-[70vh]">
      <div class="flex flex-col items-center md:h-[60%] md:w-[60%]  rounded-lg shadow-xl m-auto border p-8">
        <h1 class="text-2xl font-bold">Check your E-mail Box and Spam section</h1>
        <p class="text-lg text-gray-600 mb-8">
          Confirm the code sended in your e-mail, and insert here.
        </p>

        <.form
          for={%{}}
          method="post"
          action="/email-verify"
          class="flex flex-col h-[50%] w-full items-center justify-end mb-2"
        >
          <p class="text-sm text-gray-400">Email sended to: {@email}</p>
          <input
            type="text"
            inputmode="numeric"
            maxlength="6"
            minlength="6"
            name="place_code"
            placeholder="123 456"
            class="px-6 py-2 w-[50%] border border-gray-600 border-1 focus:border-blue-600 rounded-lg text-center mb-1"
            required
          />

          <button type="submit" class="px-6 py-2 w-[50%] text-white bg-blue-600 rounded-lg">
            Confirm
          </button>
          <p class="text-sm text-red-600 text-center">{@err_code}</p>
        </.form>


        <.form
          for={%{}}
          method="get"
          action="/email-verify"
          class="flex flex-col items-center justify-end w-full"
        >
          <button type="submit" class="px-6 py-2 w-[50%] text-blue-600 bg-transparent rounded-lg">
            Resend Code
          </button>
        </.form>

        <%= if @remain do %>
          <div id="resend-container">
            <%= if @remain do %>
              <span id="countdown" data-remain={@remain}></span>
            <% else %>
              <span class="text-green-600 font-bold">You can resend the email</span>
            <% end %>
          </div>


          <script>
            document.addEventListener("DOMContentLoaded", () => {
              const countdownEl = document.getElementById("countdown");

              if (countdownEl) {
                let remain = parseInt(countdownEl.dataset.remain, 10);

                const interval = setInterval(() => {
                  if (remain > 0) {
                    countdownEl.textContent = `Please wait ${remain} seconds...`;
                    remain--;
                  } else {
                    clearInterval(interval);
                    countdownEl.className = "text-green-600 font-bold";
                    countdownEl.textContent = "You can resend the email";
                  }
                }, 1000);
              }
            });
          </script>
        <% end %>

      </div>
    </div>
  </body>
</html>
