<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable] dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="csrf-token" content={get_csrf_token()} />
        <.live_title default="Max Gallery">
            {assigns[:page_title]}
        </.live_title>
        <link rel="icon" href="/images/padlock.png" type="image/png" />
        <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
        <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
        </script>
    </head>


    <header class="bg-gray-800 text-white p-1 flex items-center justify-between">
        <.form for={%{}} action={"/data"} method="get">
            <button>
                <img src="/images/logo.png" alt="Logo" class="w-auto h-14 px-2">
            </button>
        </.form>

        <.form for={%{}} action={"/logout"} method="get">
            <button>
                <img src="/images/logout.png" alt="Logout" class="w-auto h-12 px-4">
            </button>
        </.form>
    </header>


    <body class="bg-white">
        {@inner_content}
    </body>
</html>
